*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #F8F8F8;
}
a{
    text-decoration: none;
}
body,div,h1,h2,h3,h4,h5,h6,form,img,ul,ol,li,dl,dt,dd,p,tr,th,td{
    margin:0;
    padding:0;
}
body{
    font:12px/1.5 'Microsoft Yahei',tahoma,'\5b8b\4f53',sans-serif;
    color:#777986}
html,body{
    overflow-x:hidden;
}
li{
    list-style:none;
}
em,i{
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}
img{border:0;
    vertical-align:top;
}
a{
    color:#c25521;
    text-decoration:none;
    outline:none;
}
a:hover{
    color:#ee0000;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix{
    *zoom:1;
}
.pr{
    position:relative;
}
.pa{
    position:absolute;
}
.hid{
    display:none;
}
.underline{
    text-decoration:underline;
}
.toplogo{
    width: 100%;
    height: 42px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    background-color: #FFFFFF;
}
.toplogo_w{
    width: 980px;
    height: 42px;
    margin: 0 auto;
    position: relative;
}
.toplogo-l a{
    display: inline-block;
    width: 206px;
    height: 40px;
    background:url(../images/top.jpg) no-repeat -1px -43px;
    padding: 0 6px;
    float: left;
}
.toplogo-l span{
    display: inline-block;
    color: #ccc;
    height: 42px;
    line-height: 42px;
    float: left;
}
.toplogo-c a{
    display: inline-block;
    width: 170px;
    height: 40px;
    background:url(../images/top.jpg) no-repeat -28px -85px;
    margin-left: 40px;
}
.toplogo-r {
    position: absolute;
    width: 245px;
    height: 42px;
    left: 742px;
    top: 0;
    overflow: hidden;
}
.toplogo-r a {
    line-height: 42px;
    font-size: 12px;
    color:#464646;
}
.toplogo-r a:hover{
    color:skyblue;
}
.toplogo-r button:hover{
    color: skyblue;
}
.toplogo-r span{
    padding-right: 8px;
    
}
.toplogo-r .return_to button{
    display: inline-block;
    font-size: 12px;
    padding: 2px 6px;
    background-color: #F8F8FA;
    border: 1px solid #ccc;
    cursor: pointer;
    
}

/* 左侧 */
.content_all{
    width: 100%;
    height: 3237px;
    background: url(../images/wrap_rp.jpg) repeat;
}
.content-l {
    margin-left: -113px;
    width: 22%;
    float: left;
    background:url(../images/left.jpg) no-repeat -80px 0;
    overflow: hidden;
    background-color: #312d3b;
}
.content-l .top{
    width: 304px;
    height: 3005px;
}
.content-l .repeat{
    width: 304px;
    height: 232px;
    background-color: #ccc;
    float: right;
    background: url(../images/repeat.png) repeat 0 
}
.content-l .mydownload{
    display: block;
    width: 192px;
    height: 206px;
    background-color: #D25D1E;
    float: right;
    margin-top: 143px;
    position: relative;
    overflow: hidden;
}
.content-l .mydownload .top_logo{
    display: block;
    width: 192px;
    height: 21px;
    background: url(../images/spr.png) no-repeat ;
}
.content-l .mydownload .download{
    display: block;
    width: 192px;
    height: 147px;
    background: url(../images/spr.png) no-repeat 0 -147px;
    margin-top: 20px;
}
.content-l .mydownload .blade_soul{
    display: block;
    width: 192px;
    height: 128px;
    background: url(../images/spr.png) no-repeat -7px -20px;
    margin-top: 40px;
}
.mydownload #moveBox{
    width: 192px;
    height: 275px;
    position: absolute;
}
.content-l .freshman{
    display: block;
    width: 192px;
    height: 95px;
    background-color: #E4712C;
    float: right;
    text-align: center;
    position: relative;
}
.content-l .freshman .tab_logo{
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/spr.png) no-repeat -100px -302px;
    margin-left: 68px;
    margin-top: 6px;
}
.content-l .freshman span{
    display: block;
    color: #36313F;
    position: absolute;
    left: 62px;
    top: 52px;

}
.content-l .tab_center{
    width: 192px;
    float: right;
    overflow: hidden;
}
.tab_center .tab_center_mask{
    width: 192px;
    height: 96px;
    background-color: skyblue;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 96px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.content-l .tab_center li{
    cursor: pointer;
    position: relative;
}
.content-l .tab_center li a{
    display: block;
    width: 192px;
    height:88px;
    border-bottom: 1px solid #3d3747;
}
.content-l .tab_center li a i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/spr.png) no-repeat 0 -306px;
    margin: 18px 0 0 25px;
    float: left;

}
.content-l .tab_center li .duihuan{
    background: url(../images/spr.png) no-repeat -52px -306px;
}
.content-l .tab_center li .activities{
    background: url(../images/spr.png) no-repeat -152px -306px;
}
.content-l .tab_center li .version{
    background: url(../images/spr.png) no-repeat -52px -358px;
}
.content-l .tab_center li a span{
    display: inline-block;
    height: 100%;
    float: left;
    line-height: 88px;
    color: #899DCD;
    position: absolute;
}
.content-l .service{
    width: 192px;
    float: right;
    overflow: hidden;
}
.service .service_mask{
    width: 96px;
    height: 101px;
    background-color: skyblue;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.service ul li {
    width: 95px; 
    height: 100px;
    border-bottom: 1px solid #3d3747;
    border-right: 1px solid #3d3747;
    float: left;
    margin-left: -1px;
    position: relative;
    cursor: pointer;
    position: relative;
}
.service ul li a i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/spr.png) no-repeat 0 -350px;
    margin-left: 22px;
    margin-top: 8px;
    position: absolute;
}
.service ul li a span{
    display: block;
    text-align: center;
    color: #899DCD;
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 70px;
}
.service ul li a .special{
    left: 26px;
    top:  70px;
}
.service ul li a .service_2{
    background: url(../images/spr.png) no-repeat -152px -400px;
}
.service ul li a .service_3{
    background: url(../images/spr.png) no-repeat -53px -349px;
}
.service ul li a .service_4{
    background: url(../images/spr.png) no-repeat 0 -400px;
}
.service ul li a .service_5{
    background: url(../images/spr.png) no-repeat -100px -349px;
}
.service ul li a .service_6{
    background: url(../images/spr.png) no-repeat -100px -400px;
}
.vip{
    width: 192px;
    float: right;
    overflow: hidden;

}
.vip ul li a{
    display: block;
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
    position: relative;
    border-radius: 50%;
}
.vip ul li a .vip_1{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat 0 -455px;
}
.vip ul li a .vip_2{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -34px -488px;
}
.vip ul li a .vip_3{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -69px -489px;
}
.vip ul li a .vip_4{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -103px -455px;
}
.vip ul li a .vip_5{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -137px -455px;
}
.vip ul li a .vip_6{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat 0 -489px;
}
.vip ul li a .vip_7{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -34px -454px;
}
.vip ul li a .vip_8{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -68px -454px;
}
.vip ul li a .vip_9{
    display: block;
    width: 34px;
    height: 34px;
    background: url(../images/spr.png) no-repeat -103px -489px;
}
.vip ul{
    overflow: hidden;
    padding: 24px 0 0 27px;
}
.vip ul li a .vip_mask{
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: #524B53;
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
}
.cooperation{
    width: 180px;
    height: 23px;
    float: right;
    border: 6px solid #3A3543;
}
.cooperation a span{
    font-size: 12px;
    color:#C25521;
    margin-left: 16px;
}
.cooperation a i{
    margin-left: 90px;
}
.suggest{
    width: 192px;
    float: right;
    
}
.suggest a{
    display: block;
    width: 167px;
    height: 160px;
    margin: 20px 0 0 25px;
    font-size: 12px; 
    color: #414D59;

}
.suggest a h2{
    font-size: 16px;
    color: #C25521;
    height: 40px;
    line-height: 40px;
}
.suggest a span{
    font-size: 14px;
    color: #6A8AB4;
    margin-right: 5px;
}
.suggest a .peizhi{
    padding-left: 36px;
}
.suggest a p{
    height: 20px;
}
/* 右边 */
.content-r{
    width: 86%;
    height: 3237px;
    float: left;
    background: url(../images/wrap_pjx.jpg) no-repeat 472px 0;
    overflow: hidden;
}
/* 头部 */
.topnav{
    width: 1045px;
    height: 240px;
    position: relative;
}
.content-r .toptab li{
    width: 100px;
    height: 18px;
    float: left;
    padding: 0 10px;
    text-align: center;
    margin-top: 12px;
    border-right: 1px solid #8d8a8e;
}
.content-r .toptab{
    padding-left: 14px;
    height: 35px;
}
.content-r .toptab .service{
    border: none;
}
.toptab li a{
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.content-r .topword{
    width: 1013px;
    height: 14px;
    margin-left: 14px;
    margin-top: -2px;
    overflow: hidden;
}
.content-r .topword li{
    float: left;
    padding: 0 10px;
    text-align: center;
}
.content-r .topword span{
    display: block;
    width: 101px;
    height: 10px;
    font-size: 12px;
    font-variant: small-caps;
    color:rgb(0,0,0,.5);

}
.topnav .back{
    width: 142px;
    height: 26px;
    background: url(../images/spring.png) no-repeat;
    position: absolute;
    left: 500px;
    top:315px;
    cursor: pointer;
}
.topnav .version{
    width: 146px;
    height: 26px;
    background: url(../images/spring.png) no-repeat -142px 0;
    position: absolute;
    left: 670px;
    top: 315px;
    cursor: pointer;
}
.topnav .weibo{
    width: 190px;
    height: 44px;
    background: url(../images/spr.png) no-repeat 0 -552px;
    position: absolute;
    left: 858px;
    top: 0;
}
.topnav .topnav_mask{
    width: 1045px;
    height: 185px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255,255,255,0.4);
    padding-top: 54px;
    display: none;
}
.topnav_mask>ul{
    padding-left: 14px;
    width: 1045px;
    height: 140px;
}
.topnav_mask>ul{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
}
.topnav_mask>ul>li>ul{
    width: 120px;
    height: 140px;
    border-right: 1px solid #fff;
}
.topnav_mask>ul>li{
    width: 120px;
    height: 80px;
    float: left;
    text-align: center;
    border-right: 1px solid #fff;
}
.topnav_mask>ul>li a{
    display: inline-block;
    line-height: 20px;
    height: 20px;
    color: #464646;
    font-size: 12px;
    padding: 4px 6px;
}
.topnav_mask>ul>li a:hover{
    background-color: #C35522;
    color: #fff;
}
.topnav_mask>ul .custom_service{
    border-right: none;
}
/* 文字 */
.news-main{
    width:57%;
    margin-left:37px;
    *padding-top:242px;
    *margin-top:0;
}
.new-title{
    height:104px;
    border-bottom:3px solid #36313f;
}
.new-title h2{
    height:64px;
    font-weight:normal;
    line-height:64px;
    color:#3f3f51;
    font-size:42px;
}
.new-title .newtitle-en{
    opacity:0.2;
    filter:alpha(opacity=20);
    font-size:42px;
    padding-left:12px;
}
.breadcrumb{
    height:20px;
    line-height:20px;
    color:#3f424e;
    font-family:'\5b8b\4f53'
}
.home-icon{
    float:left;
    width:9px;
    height:9px;
    background:url(../images/home_icon.png) no-repeat;
    margin:4px 6px 0 0;
    display:inline;
}
.breadcrumb a{
    color:#3f424e;
}
.breadcrumb a:hover{
    color:#c25521;
}
.breadcrumb span{
    font-weight:bold;
}
.new-content{
    width:100%;
    overflow:hidden;
}
.newcon-title{
    height:67px;
    margin-top:21px;
    border-bottom:1px solid rgba(88,96,106,0.1);
}
.newcon-title h3{
    font-weight:normal;
    color:#c25521;
    height:36px;
    line-height:36px;
    font-size:19px;
}
.newcon-title p{
    color:#9aa2aa;
    font-family:'\5b8b\4f53';
    height:20px;
    line-height:20px;
}
.new-text{
    width:100%;
    padding:30px 0;
    color:#58606a;
    font-family:'\5b8b\4f53';
    min-height:915px;
}
.new-text img{
    display:block;
    margin:5px 0
}
.new-text p{
    line-height:24px;
}
.new-btm{
    height:80px;
    border-top:1px dotted #3f424e;
    width:100%;
}
.share{
    float:right;
    height:27px;
    margin-top:26px;
    line-height:27px;
}
.share em{
    float:right;
    color:#3f424e;
}
.more-link{
    margin:2px 2px 0 0;
    float:right;
    display:inline;
    width:9px;
    height:9px;
    padding:6px;
    border:1px solid #dfe0e1;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow:hidden;
    background-position: -117px -523px;
    cursor:pointer;
}
.share #sns{
    float:right;
    height:27px;
    width:62px;
    overflow:hidden;
}
.snsbg{ 
    padding-left:10px;
     line-height:26px; 
     color:#666; 
     overflow:hidden; 
     zoom:1;
    }
.snsbg em{ 
    float:left; 
    width:50px; 
    font-style:normal;
}
.sns{ 
    float:left; 
    padding:5px 0; 
    height:16px;
    width:300px;
}
.sns_lst{ 
    float:left; 
    padding:0 5px 0 0;
}
.sns_lnk{ 
    display:block;
     width:16px; 
     height:16px; 
     text-indent:-500px;
    overflow:hidden;
    cursor:pointer;
    background:url(../images/icons.png) no-repeat;
}
.sns_weibo {
     background-position: 0 0;
    }
.sns_qzone { 
    background-position: 0 -16px;}
.sns_xiaoyou {
     background-position: 0 -32px;}
.sns_kaixin {
     background-position: 0 -48px;}
.sns_renren { 
    background-position: 0 -64px;}
.sns_baidu { 
    background-position: 0 -80px;}
.sns_douban { 
    background-position: 0 -96px;}
.sns_shuqian { 
    background-position: 0 -112px;}
.sns_sina { 
    background-position: 0 -128px;}

.inner-code{
    float:left;
    margin-top:13px;
}
.code-canvas{
    float:left;
}
.inner-code p{
    line-height:20px;
    float:left;
    color:#9b9ca0;
    margin:5px 15px;
    display:inline;
    font-family:'\5b8b\4f53';
}

.inner-act{
    right:-213px;
    top:104px;
    width:192px;
    overflow:hidden;
    *top:345px;}
.inneract-lnk{
    display:block;
    width:192px;
    overflow:hidden;
    margin-bottom:16px;
}
.inneract-text{
    right:15px;
    bottom:21px;
    font-size:14px;
    text-align:center;
    -height:36px;
    width:157px;
    height:36px;
    border-radius:4px;
    color:#fff;
    border:1px solid #6d6f76;
    background:none;
}
.inneract-lnk:hover .innerad-text{
    border:1px solid #c25521;
    background:#c25521;
}
.detail-about{
    width:100%;
    min-height:265px;
    border-top:3px solid #36313f;
    background:url(../images/about_bg.png) no-repeat right 0;
}
.about-title{
    height:38px;
    line-height:38px;
    font-size:21px;
    margin-top:60px;
    color:#080706;
    font-weight:bold;
}
.about-text{
    color:#8b877e;
    line-height:24px;
    width:450px;
}
.about-high{
    color:#64583c;
    font-weight:bold;
}
/* 底部 */

.bottom_links{
    width: 100%;
    height: 165px;
    background-color: #000;
    border: 1px solid transparent;
}
.bottom_links_content{
    width: 980px;
    height: 116px;
    margin: 0 auto;
    margin-top: 26px;
}
.bottom_links_content .bottom_links_logos{
    width: 318px;
    height: 42px;
    float: left;
    margin-top: 35px;
}
.bottom_links_content .bottom_links_logos a img{
    vertical-align: middle;
}
.bottom_links_content .bottom_links_news{
    width: 636px;
    height: 108px;
    float: left;
    margin-left: 26px;
}
.bottom_links_news .links{
    overflow: hidden;
    margin-bottom: 6px;
}
.bottom_links_news .links ul li {
    float: left;
}
.bottom_links_news .links ul li a{
    font-size: 12px;
    color:#A5A5A5;
}
.bottom_links_news .links ul li span{
    color: #ccc;
}
.bottom_links_news p{
    font-size: 12px;
    height: 20px;
    color: #A5A5A5;

}